@model ISD.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = Model.pagesData == null ? "" : Model.pagesData.PageTitle;
}

<link href="~/Scripts/particlejs/particle.css" rel="stylesheet" />
<style>
    .text {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%,-50%);
        color: white;
        max-width: 90%;
        /*padding: 2em 3em;*/
        background: rgba(0, 0, 0, 0.4);
        text-shadow: 0px 0px 2px #131415;
        font-family: 'Open Sans', sans-serif;
        text-align: justify;
    }
    .text h1{font-size:3rem; font-weight:bold;}
</style>
<div id="particles-js"></div>

<div class="text">
    
    <div class="row pt-5 mt-3">
        <div class="col-md-12">
            <div class="text-center">
                <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-3 wow fadeInDown animated" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInDown; animation-delay: 0.3s;"><strong>INDIAN STEEL <strong class="indigo-text">DESIGN</strong></strong></h1>
                <hr class="hr-light mt-4 wow fadeInDown animated" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeInDown; animation-delay: 0.4s;">
                <h5 class="text-uppercase mb-5 white-text wow fadeInDown animated" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeInDown; animation-delay: 0.4s;"><strong>Structural Design & Detailing</strong></h5>
                <a  href="@Url.Action("Services","Home")" class="btn btn-outline-white wow fadeInDown waves-effect waves-light animated" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeInDown; animation-delay: 0.4s;">Services</a>
                <a href="@Url.Action("About","Home")" class="btn btn-outline-white wow fadeInDown waves-effect waves-light animated" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeInDown; animation-delay: 0.4s;">About me</a>
            </div>
        </div>
    </div></div>


    
<div class="elegant-color pt-5 pb-5" >
   
    <div class="container">
        <!--Carousel Wrapper-->
        <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-2" data-slide-to="1"></li>
                <li data-target="#carousel-example-2" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="view hm-black-light">
                        <img class="d-block w-100" src="~/Images/Slider/slider-1.jpg" alt="First slide">
                        <div class="mask"></div>
                    </div>
                    @*<div class="carousel-caption">
                            <h3 class="h3-responsive">Light mask</h3>
                            <p>First text</p>
                        </div>*@
                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view hm-black-strong">
                        <img class="d-block w-100" src="~/Images/Slider/slider-2.jpg" alt="Second slide">
                        <div class="mask"></div>
                    </div>

                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view hm-black-slight">
                        <img class="d-block w-100" src="~/Images/Slider/slider-3.jpg" alt="Third slide">
                        <div class="mask"></div>
                    </div>

                </div>


                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view hm-black-slight">
                        <img class="d-block w-100" src="~/Images/Slider/slider-4.jpg" alt="Fourth slide">
                        <div class="mask"></div>
                    </div>

                </div>
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->
    </div>
    

</div>
    

<div class="container">
    <!--Section: Blog v.1-->
    <section class="section pb-3 text-center text-lg-left">
       

        @Html.Raw(@Model.pagesData == null ? "" : Model.pagesData.PageContent)      
    </section>
</div>




@section Scripts
{
  <script>
      new WOW().init();
</script>
<script src="~/Scripts/particlejs/particles.js"></script> 
<script src="~/Scripts/particlejs/app.js"></script>

<script src="~/Scripts/particlejs/stats.js"></script>
    


}